openapi: 3.1.0
info:
  title: Stack REST Auth Contact Channels API
  version: 1.0.0
  description: 'Stack Auth is an open-source authentication and user management platform.

    This is a curated subset of the Stack Auth Server REST API published at

    https://api.stack-auth.com/api/v1, derived from the public OpenAPI document

    referenced from https://docs.stack-auth.com/rest-api/overview.

    '
  contact:
    name: Stack Auth
    url: https://stack-auth.com
servers:
- url: https://api.stack-auth.com/api/v1
  description: Stack Auth REST API
security:
- StackProjectId: []
  StackAccessType: []
  StackPublishableClientKey: []
  StackSecretServerKey: []
tags:
- name: Contact Channels
paths:
  /contact-channels:
    get:
      summary: List contact channels
      responses:
        '200':
          description: List of contact channels
      tags:
      - Contact Channels
    post:
      summary: Create a contact channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Contact channel created
      tags:
      - Contact Channels
  /contact-channels/verify:
    post:
      summary: Send a contact channel verification request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Verification sent
      tags:
      - Contact Channels
  /contact-channels/verify/check-code:
    post:
      summary: Check a contact channel verification code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Verification result
      tags:
      - Contact Channels
  /contact-channels/{user_id}/{contact_channel_id}:
    parameters:
    - in: path
      name: user_id
      required: true
      schema:
        type: string
    - in: path
      name: contact_channel_id
      required: true
      schema:
        type: string
    get:
      summary: Get a contact channel
      responses:
        '200':
          description: Contact channel
      tags:
      - Contact Channels
    patch:
      summary: Update a contact channel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated contact channel
      tags:
      - Contact Channels
    delete:
      summary: Delete a contact channel
      responses:
        '204':
          description: Deleted
      tags:
      - Contact Channels
components:
  securitySchemes:
    StackProjectId:
      type: apiKey
      in: header
      name: X-Stack-Project-Id
      description: Project identifier for the Stack Auth project the request targets.
    StackAccessType:
      type: apiKey
      in: header
      name: X-Stack-Access-Type
      description: One of "client", "server", or "admin".
    StackPublishableClientKey:
      type: apiKey
      in: header
      name: X-Stack-Publishable-Client-Key
      description: Publishable client key used for client access type.
    StackSecretServerKey:
      type: apiKey
      in: header
      name: X-Stack-Secret-Server-Key
      description: Secret server key used for server access type.
    StackSuperSecretAdminKey:
      type: apiKey
      in: header
      name: X-Stack-Super-Secret-Admin-Key
      description: Admin key used for admin access type.
