openapi: 3.1.0
info:
  title: Stack REST Auth Team Memberships API
  version: 1.0.0
  description: 'Stack Auth is an open-source authentication and user management platform.

    This is a curated subset of the Stack Auth Server REST API published at

    https://api.stack-auth.com/api/v1, derived from the public OpenAPI document

    referenced from https://docs.stack-auth.com/rest-api/overview.

    '
  contact:
    name: Stack Auth
    url: https://stack-auth.com
servers:
- url: https://api.stack-auth.com/api/v1
  description: Stack Auth REST API
security:
- StackProjectId: []
  StackAccessType: []
  StackPublishableClientKey: []
  StackSecretServerKey: []
tags:
- name: Team Memberships
paths:
  /team-memberships/{team_id}/{user_id}:
    parameters:
    - in: path
      name: team_id
      required: true
      schema:
        type: string
    - in: path
      name: user_id
      required: true
      schema:
        type: string
    post:
      summary: Add a user to a team
      responses:
        '201':
          description: Membership created
      tags:
      - Team Memberships
    delete:
      summary: Remove a user from a team
      responses:
        '204':
          description: Membership removed
      tags:
      - Team Memberships
components:
  securitySchemes:
    StackProjectId:
      type: apiKey
      in: header
      name: X-Stack-Project-Id
      description: Project identifier for the Stack Auth project the request targets.
    StackAccessType:
      type: apiKey
      in: header
      name: X-Stack-Access-Type
      description: One of "client", "server", or "admin".
    StackPublishableClientKey:
      type: apiKey
      in: header
      name: X-Stack-Publishable-Client-Key
      description: Publishable client key used for client access type.
    StackSecretServerKey:
      type: apiKey
      in: header
      name: X-Stack-Secret-Server-Key
      description: Secret server key used for server access type.
    StackSuperSecretAdminKey:
      type: apiKey
      in: header
      name: X-Stack-Super-Secret-Admin-Key
      description: Admin key used for admin access type.
